---
import H1 from '../components/h1.astro';
import InfoLayout from '../layouts/InfoLayout.astro';
---

<InfoLayout>
	<div
		class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh flex flex-col justify-between gap-32"
	>
		<div class="space-y-4 sm:space-y-12">
			<H1>Kenny<br />Nguyen</H1>

			<p class="text-xl xl:text-2xl text-zinc-500 text-balance">
				Welcome to
				<span class="underline underline-offset-4 decoration-zinc-400">
					Developed by Kenny
				</span>
				- a series of projects that I have built or am in the process of building.
				<br /><br />Here, I showcase my work, talk about what I'm working on,
				and document what's going on inside my life.

				<br /><br /> This is my attempt at building in public. Thanks for joining.
			</p>
		</div>

		<div class="space-y-2 text-base sm:text-lg">
			<h2
				class="px-4 text-zinc-400 underline underline-offset-4 decoration-zinc-500"
			>
				What I'm working on
			</h2>

			<ul class="px-4 text-zinc-400 list-disc list-outside">
				<li>
					Monoflo - A chat-based project management assistant tailored towards
					solo-preneurs and freelancers.
				</li>
				<li>
					Ant Tracker - A text-based finance tracker that's catered towards
					travelers, making it easier to budget and track expenses across
					multiple currencies.
				</li>
				<li>
					Worksite Leads - A digital marketing web agency tailored towards home
					care providers.
				</li>
				<li>
					Impact Web Studio - A web agency focused solely on providing service
					for service providers.
				</li>
			</ul>
		</div>
	</div>
</InfoLayout>
